<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`bradleyHand`, `markerfelt`, `zapfino`와 같은 다른 서체를 사용해보세요.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`Point`의 `x` 및 `y` 좌표를 사용해서 각 따옴표를 원하는 위치에 배치합니다.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`Graphic`의 `rotation` 속성 사용 예시: `graphic1.rotation = 30`
		</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
