<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Crea un’istanza `Graphic` usando `Graphic(image: image)`.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Sposta `position` verso l’alto e verso destra per il prossimo elemento grafico:\
`position.x += 75`\
`position.y += 75`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`// Crea un elemento grafico con un'immagine.`\
`let graphic = Graphic(image: image)`\
`// Posiziona l'elemento grafico sulla scena.`\
`scene.place(graphic, at: position)`\
`// Imposta la posizione per l'elemento grafico successivo.`\
`position.x += 75`\
`position.y += 75`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Sei un posizionatore di pianeti stellare!

**Sfida:** sai modificare il codice in modo da posizionare la riga di pianeti in un altro quadrante, magari quello in alto a sinistra?

[**Pagina successiva**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
