<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`touch.previousPlaceDistance` belirli bir değerden azsa, `addImage(touch:)` fonksiyonu hiçbir şey yapmadan döndürülür. Bu değeri 80 olarak değiştir: Bu, ⭐️ grafiklerinin arasında boşluk bırakır.
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Anladın mı?

Daha büyük bir değer kullanırsan, `touch.previousPlaceDistance` bu değere ulaşmadan önce dokunmanın daha ileri gitmesi gerekecek ve yıldızlar daha uzağa yerleştirilecek. Birkaç farklı değer dene.

[**Sonraki Sayfa**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
