<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Skapa instansen `Graphic` med hjälp av `Graphic(image: image)`.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Flytta `position` uppåt och till höger för nästa grafik:\
`position.x += 75`\
`position.y += 75`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`// Skapa en grafik med en bild.`\
`let graphic = Graphic(image: image)`\
`// Placera in grafiken i scenariot.`\
`scene.place(graphic, at: position)`\
`// Ange position för nästa grafik.`\
`position.x += 75`\
`position.y += 75`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Du är en stjärna på planetplacering!

**Utmaning:** Kan du ändra koden så att raden med planeter hamnar i en annan kvadrant, kanske den övre vänstra?

[**Nästa sida**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
