<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Coloque um gráfico em cada quadrante, calculando as coordenadas (x, y) de cada um deles.\
Como exemplo, obtenha a posição do gráfico no quadrante inferior esquerdo:\
`let position3 = Point(x: -x, y: -y)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**Ideia:** defina `rotation` e `scale` de cada gráfico nos mesmos valores aleatórios:\
`let rotation = randomDouble(from: 0, to: 180)`\
`let scale = randomDouble(from: 0.5, to: 2.5)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**Ideia:** faça com que o gráfico desapareça depois de um tempo:\
`graphic.fadeOut(after: 2.0)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**Ideia:** mova cada gráfico para a posição a partir da posição do toque:\
`scene.place(graphics[0], at: touch.position)`\
`graphics[0].move(to: position1, duration: 2.0)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Esta é uma página de **Criação** e nenhuma solução é fornecida. Você pode experimentar e desenvolver as suas próprias ideias criativas.
		</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
