<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Puedes seleccionar una imagen de fondo entre las imágenes disponibles o de tu fototeca. ¡Hasta puedes hacer una foto con la cámara para ponerla de fondo!
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### ¡Qué escena tan chula!

Si seleccionas una imagen con partes transparentes o translúcidas, el color de fondo se verá a través de las partes transparentes de la imagen. Si no hay definido ningún color de fondo, se mostrará un patrón a cuadros. Puedes establecer el color de fondo así:
 
`scene.backgroundColor = ◼️`

[**Página siguiente**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
