[submodule "Apple/Xcode Tutorials/HWS_Apple_Tutorial"]
	path = Apple/Xcode Tutorials/HWS_Apple_Tutorial
	url = https://MOBeyer@github.com/MOBeyer/swiftui-tutorials.git
[submodule "Apple/CoreML/Core ML/BuildingAFeatureRichAppForSportsAnalysis"]
	path = Apple/CoreML/Core ML/BuildingAFeatureRichAppForSportsAnalysis
	url = https://MOBeyer@github.com/MOBeyer/BuildingAFeatureRichAppForSportsAnalysis.git
[submodule "Apple/SwiftUI/SwiftUI_Playground"]
	path = Apple/SwiftUI/SwiftUI_Playground
	url = https://MOBeyer@github.com/MOBeyer/SwiftUI_Playground.git
[submodule "Apple/Xcode Tutorials/ScrumdingerSwiftUI"]
	path = Apple/Xcode Tutorials/ScrumdingerSwiftUI
[submodule "Apple/Xcode Tutorials/Scrumdinger/CreatingACardView/StartingProject"]
	path = Apple/Xcode Tutorials/Scrumdinger/CreatingACardView/StartingProject
	url = https://MOBeyer@github.com/MOBeyer/StartingProject.git
[submodule "100-days-of-swiftui"]
	path = 100-days-of-swiftui
	url = https://github.com/MOBeyer/100-days-of-swiftui.git
[submodule "Apple/Xcode Tutorials/Scrumdinger/DisplayingDataInAList/StartingProject"]
	path = Apple/Xcode Tutorials/Scrumdinger/DisplayingDataInAList/StartingProject
