[submodule "Apple/Xcode Tutorials/HWS_Apple_Tutorial"]
	path = Apple/Xcode Tutorials/HWS_Apple_Tutorial
	url = https://MOBeyer@github.com/MOBeyer/swiftui-tutorials.git
[submodule "Apple/SwiftUI/SwiftUI_Playground"]
	path = Apple/SwiftUI/SwiftUI_Playground
	url = https://MOBeyer@github.com/MOBeyer/SwiftUI_Playground.git
[submodule "Apple/Xcode Tutorials/ScrumdingerSwiftUI"]
	path = Apple/Xcode Tutorials/ScrumdingerSwiftUI
[submodule "Apple/Xcode Tutorials/Scrumdinger/CreatingACardView/StartingProject"]
	path = Apple/Xcode Tutorials/Scrumdinger/CreatingACardView/StartingProject
	url = https://MOBeyer@github.com/MOBeyer/StartingProject.git
[submodule "Apple/Xcode Tutorials/Scrumdinger/DisplayingDataInAList/StartingProject"]
	path = Apple/Xcode Tutorials/Scrumdinger/DisplayingDataInAList/StartingProject
[submodule "Apple/Xcode Tutorials/Scrumdinger/CreatingANavigationHierarchy/StartingProject"]
	path = Apple/Xcode Tutorials/Scrumdinger/CreatingANavigationHierarchy/StartingProject
[submodule "Apple/Xcode Tutorials/Scrumdinger/CreatingTheEditView/StartingProject"]
	path = Apple/Xcode Tutorials/Scrumdinger/CreatingTheEditView/StartingProject
[submodule "Apple/CoreML/Core ML/BuildingAFeatureRichAppForSportsAnalysis"]
	path = Apple/CoreML/Core ML/BuildingAFeatureRichAppForSportsAnalysis
	url = https://MOBeyer@github.com/MOBeyer/BuildingAFeatureRichAppForSportsAnalysis.git
