<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**잊지 마세요:** 함수의 전체 이름에는 함수 이름과 매개변수 이름이 포함되어 있습니다. 매개변수는 콜론(`:`)을 달아 구분합니다. 예를 들어, `addAlien`의 전체 함수 이름은 `addAlien(touch:)`입니다.
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 잘했어요!

 함수에 `onTouchMoved`와 같은 속성을 설정하는 방법이 궁금하다고요? `onTouchMoved`는 `String` 또는 `Int`와 같은 유형이 아닌 *함수* 유형을 가집니다. `addAlien(touch:)` 또는 `addMonster(touch:)`와 같이 단일 `Touch` 매개변수만을 가지고 있는 함수에 설정할 수 있습니다.

[**다음 페이지**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
