<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Erstelle eine Instanz von `Tool`, gib ihr einen Namen und weis ihr ein Emojisymbol zu.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Stelle die Eigenschaft `onTouchMoved` des Werkzeugs auf den vollständigen Namen einer Ereignishandler-Funktion „touch moved“ ein.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Stelle die Eigenschaft `onGraphicTouched` auf den vollständigen Namen einer Ereignishandler-Funktion `graphic touched` ein.
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Gut gemacht!

**Beachte** diese Werkzeugeigenschaften:

* `onTouchMoved`: Hierfür brauchst du eine Ereignishandler-Funktion „touch moved“ mit einem `Touch`-Parameter.

* `onGraphicTouched`: Hierfür brauchst du eine Ereignishandler-Funktion „graphic touched“ mit einem `Graphic`-Parameter.

Auf der [**nächsten Seite**](@next) erfährst du, wie Grafiken modifiziert werden können, wenn sie berührt werden.
	</string>
		</dict>
	</dict>
</dict>
</plist>
