<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Experimente outras fontes, como `bradleyHand`, `markerfelt` ou `zapfino`.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Use as coordenadas `x` e `y` de `Point` para posicionar cada apóstrofe onde quiser.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Use a propriedade `rotation` de `Graphic` assim: `graphic1.rotation = 30`.
		</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
