<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Se imposti il valore `alpha` dell'elemento grafico toccato su un valore simile a 0.25, l'elemento sarà quasi trasparente.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Usa un’istruzione `if` con l’operatore `&lt;` per controllare se `graphic.alpha` è meno di 1.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`// Modifica alfa.`\
`if graphic.alpha &lt; 1.0 {`\
`   graphic.alpha = 1.0`\
`} else {`\
`   graphic.alpha = 0.25`\
`}`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Ben fatto!

Nella [**pagina successiva**](@next), ti divertirai a schiacciare un po' di elementi grafici!
			</string>
		</dict>
	</dict>
</dict>
</plist>
