<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Imposta `index` in modo che punti a un elemento casuale nell’array:\
`let index = randomInt(from: 0, to: animals.count - 1)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`rotation` può avere qualsiasi valore `Double`, in gradi, da `0` a `360`.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`// Imposta l'indice su un valore casuale.`\
`let index = randomInt(from: 0, to: animals.count - 1)`\
\
`// Ridimensiona e ruota l'elemento grafico.`\
`graphic.scale = randomDouble(from: 0.5, to: 2.0)`\
`graphic.rotation = randomDouble(from: 0.0, to: 360.0)`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Grandioso!

Sperimenta creando i tuoi array di immagini e utilizzando `scale` e `rotation`.

[**Pagina successiva**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
