<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Verwende `things[index]` und `colors[index]`, um das Weltallding und die Farbe zu erhalten.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`let graphic = Graphic(text: things[index])`\
\
`graphic.textColor = colors[index]`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Gut gemacht!

Mit dem **Text**-Werkzeug kannst du Text platzieren – so wie du das **Bild**-Werkzeug zum Platzieren von Bildern verwendest. Beide Werkzeuge platzieren `Graphic`-Instanzen auf der Szene, solange sich dein Berührungskontakt bewegt.

[**Nächste Seite**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
