<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Grafiği taşımak için **Taşı** aracını seç. Sonra herhangi bir grafiğe dokun ve sahne çevresinde sürükleyerek bu grafiği taşı.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Grafiği silmek için **Sil** aracını seç ve grafiğe dokun.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Bu bir **Dene** sayfası ve sunulan bir çözümü yok. Denemeler yaparak eğlenebilir ve kendi çözümlerini bulabilirsin.
		</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
