<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Erstelle ein Werkzeug und gib ihm einen Namen und ein Emojisymbol. Beispiel:\
`let fruitTool = Tool(name: "Fruit", emojiIcon: "🍒")`\
oder:\
`let greetingTool = Tool(name: "Greeting", emojiIcon: "🙏")`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Stelle die Eigenschaft `onTouchMoved` des Werkzeugs auf den vollständigen Namen einer der Ereignishandler-Funktionen ein. Beispiel:\
`fruitTool.onTouchMoved = addFruit(touch:)`\
oder:\
`greetingTool.onTouchMoved = addGreeting(touch:)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Füge schließlich das Werkzeug in die Szene ein. Beispiel:\
`scene.tools.append(fruitTool)`\
oder:\
`scene.tools.append(greetingTool)`
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Glückwunsch!

**Herausforderung:** Versuche, eine eigene Funktion `onTouchMoved` zu schreiben und ein Werkzeug hinzuzufügen, um sie aufzurufen.

[**Nächste Seite**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
