<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
그래픽을 원점 주변의 궤도로 올려보세요.\
`graphic.orbit(x: x, y: y, period: period)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`period`가 0.5에서 4.0 사이의 `Double` 값으로 임의 지정되도록 변경해 보세요.
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 멋져요! 행성을 움직이는 기술을 배웠네요!

**잊지 마세요:** `Double` 유형은 정수가 아닌 어떤 숫자 값에도 사용할 수 있습니다.

[**다음 페이지**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
