<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
尝试其他字体，如 `bradleyHand`、`markerfelt` 或 `zapfino`。
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
使用 `Point` 的 `x` 和 `y` 坐标，在你想要的位置放置语句。
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`Graphic` 的 `rotation` 属性可以这样来用：`graphic1.rotation = 30`。
		</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
