<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Touche l’image utilisée pour créer le graphisme et choisis une autre image. Essaie la grenouille, un extraterrestre ou même un monstre amical 👾.
	</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Tu es une 🌟 ?

Plutôt que de toucher et faire glisser ton doigt, essaie de toucher la scène une seule fois à différents endroits. Tu vois, un nouveau graphisme est ajouté chaque fois que tu touches la scène. En effet, chaque toucher génère un seul évènement tactile et `addImage(touch:)` n’est appelé qu’une seule fois.

[**Page suivante**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
