<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
제공되는 이미지를 사용하거나 사진 보관함에서 이미지를 선택하여 배경 이미지를 설정할 수 있습니다. 카메라로 사진을 찍어 배경으로 사용할 수도 있어요!
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 정말 예쁜 배경이네요!

이미지에 투명하거나 속이 비치는 부분이 있다면 배경 색상이 그 부분을 통해 비칩니다. 배경 색상이 없다면 체크 패턴의 배경이 표시됩니다. 배경 색상은 다음과 같이 설정할 수 있어요.
 
`scene.backgroundColor = ◼️`

[**다음 페이지**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
