<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`index`가 배열에 있는 임의의 항목을 지정하도록 설정하세요.\
`let index = randomInt(from: 0, to: animals.count - 1)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`rotation`은 `Double` 값을 사용합니다. 각도로는 `0`에서 `360`도입니다.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`// 임의의 값에 인덱스를 설정합니다.`\
`let index = randomInt(from: 0, to: animals.count - 1)`\
\
`// 그래픽의 크기를 조절하고 회전합니다.`\
`graphic.scale = randomDouble(from: 0.5, to: 2.0)`\
`graphic.rotation = randomDouble(from: 0.0, to: 360.0)`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 잘했어요!

다른 이미지로 배열을 만들고 `scale` 및 `rotation`을 사용하여 다양한 실험을 해보세요.

[**다음 페이지**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
