<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Tippe auf das Bild, das zum Erstellen der Grafik verwendet wurde, und wähle ein anderes Bild aus. Versuche es einmal mit einem Frosch, einem Alien oder auch mit einem netten Monster 👾.
	</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Bist du ein richtiger Star 🌟?

Du kannst aber nicht nur berühren und ziehen: Schau doch mal, was passiert, wenn du die Szene immer nur einmal an verschiedenen Stellen berührst. Du wirst feststellen, dass jedes Mal, wenn du die Szene berührst, eine neue Grafik hinzugefügt wird. Der Grund dafür ist ganz einfach: Da nur eine einzelne Berührung stattfindet, wird nur ein Berührungsereignis generiert und `addImage(touch:)` nur einmal aufgerufen.

[**Nächste Seite**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
