<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
使用 `componentsByCharacter()` 來將 `emoji` 分隔成由單個字元的字串組成的陣列。
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
當 `index` 到達陣列末端時歸零：\
`if index == characters.count {`\
`   index = 0`\
`}`
</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`let characters = emoji.componentsByCharacter()`\
\
`var chosenEmoji = "🐠"`\
`chosenEmoji = characters[index]`\
`let graphic = Graphic(text: chosenEmoji)`\
`index += 1`\
`if index == characters.count {`\
`   index = 0`\
`}`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 👏💪

使用表情符號在文字和場景中加入一些閃亮的 ✨。

體驗看看不同數值的 `scale` 和 `rotation`。

[**下一頁**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
