<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
เรียกโน้ตแบบสุ่มโดยใช้ `randomInt(from: 0, to: 23)`</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
ถ้าตัวโน้ตมีเสียงดังเกินไป คุณสามารถเพิ่มพารามิเตอร์ `volume` เป็นตัวเลือกเสริมได้:\
`playInstrument(.piano, note: 14, volume: 40)`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`let note = randomInt(from: 0, to: 15)`\
`if graphic.text == "🍐" {`\
`   playInstrument(.piano, note: note)`\
`}`\
`if graphic.text == "🍋" {`\
`   playInstrument(.electricGuitar, note: note)`\
`}`
`if graphic.text == "🍊" {`\
`   playInstrument(.cosmicDrums, note: note)`\
`}`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### ทำดีแล้ว! คุณกำลังเรียนรู้การเล่นโน้ตได้เป็นอย่างดี

ก่อนที่จะไปต่อ ลองมาทดลองสนุกๆ กับเครื่องดนตรีและตัวโน้ตที่แตกต่างออกไปกัน

[**หน้าถัดไป**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
