<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**請記住：** 陣列中的第一個項目位於索引 0。
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**提示：** 當你使用[陣列](glossary://array)和[索引](glossary://index)時，用紙筆記下陣列的項目和索引，這樣會對你有所幫助。
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`// 插入和移除項目。`\
`images.insert(rugbyBall, at: 1)`\
`images.remove(at: 4)`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 超棒！

追蹤陣列索引可能會有些棘手！假如你移除了「撞球」星球，然後想將「橄欖球」星球插入到陣列末端的「籃球」星球後方。你該將「橄欖球」星球插入到哪個索引位置呢？

[**下一頁**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
