<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
如果你無法觸碰到不明飛行物，請在 `addFructoid` 中增加它們的軌道週期，讓它們移動得更緩慢。
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
當觸碰圖形的 `scale` 值低於一定程度（例如 0.6）時，使用 `graphic.moveAndZap(to: blackHole.position)` 摧毀圖形。
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`// 在此加入程式碼。`\
`graphic.scale -= 0.5`\
`graphic.alpha -= 0.25`\
`if graphic.scale &lt; 0.6 {`\
`   graphic.moveAndZap(to: blackHole.position)`\
`}`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 看來你得到了不明飛行物剋星勳章！

**挑戰：** 嘗試讓一些水果變得更難摧毀。飛行物圖形是由表情符號製作的，因此你可以像這樣比較它的 `text` 屬性：`if graphic.text == "🍏"`。如果你減少 `scale` 和 `alpha` 的值，你需要觸碰更多次，才能將水果消滅。

在[**下一頁**](@next)中，你將學到如何使用單一按鈕同時壓碎所有的不明飛行物！
	</string>
		</dict>
	</dict>
</dict>
</plist>
