<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
แตะภาพที่ใช้ในการสร้างกราฟิก และเลือกภาพที่แตกต่างกันออกไป ลองใช้กบ หรือเอเลี่ยน หรือแม้แต่สัตว์ประหลาดที่เป็นมิตร 👾
	</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### คุณคือ 🌟หรือเปล่า

แทนที่จะแตะแล้วลาก ลองแตะฉากแค่หนึ่งครั้งในที่ที่ต่างออกไป สังเกตว่ากราฟิกใหม่จะถูกเพิ่มในแต่ละครั้งที่คุณแตะฉาก นั่นเพราะว่าการแตะครั้งเดียวจะทำให้เกิดอีเวนต์การแตะเพียงหนึ่งครั้งและ `addImage(touch:)` จะถูกเรียกใช้ครั้งเดียวเท่านั้น

[**หน้าถัดไป**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
