<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
取得下一個位置和遞增 `pointIndex`:\
`let position = points[pointIndex]`\
`pointIndex += 1`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
重置 `pointIndex`，讓它維持在陣列的界限內：\
`if pointIndex == points.count {`\
`   pointIndex = 0`\
`}`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`// 取得位置。`\
`let position = points[pointIndex]`\
`// 遞增 pointIndex。`\
`pointIndex += 1`\
`if pointIndex == points.count {`\
`   pointIndex = 0`\
`}`\
`// 將圖形移到位置上。`\
`graphic.move(to: position, duration: 1.0)`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 恭喜！

體驗不同的點、函數和參數以取得不同的模式。

**挑戰：** 模式函數傳回的點會置於場景中央的周圍。你可以輕易地在每個點加入 x y 位移，將模式放在你喜好的任一位置。看看你是否能在場景不同位置上放置數個模式。

[**下一頁**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
