<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Calcule aproximadamente onde deve ser o centro de cada legenda e use `Point(x:y:)` para criar um ponto dessas coordenadas.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`let graphic3 = Graphic(text: caption3)`\
`scene.place(graphic3, at: Point(x: 250, y: -290))`\
`let graphic4 = Graphic(text: caption4)`\
`scene.place(graphic4, at: Point(x: -350, y: -340))`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Bom trabalho!

**Ideia:** defina uma imagem de fundo com uma foto sua — talvez uma selfie com os seus amigos — e invente algumas legendas para ela!

[**Página Seguinte**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
