<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**อย่าลืมว่า:** ชื่อเต็มของฟังก์ชั่นนั้นรวมถึงชื่อพารามิเตอร์ที่ถูกแยกโดยทวิภาค (`:`) ด้วย ชื่อฟังก์ชั่นแบบเต็มของ `addAlien` คือ `addAlien(touch:)`
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### ทำดีแล้ว!

 คุณอาจสงสัยว่าคุณจะตั้งคุณสมบัติอย่าง `onTouchMoved` ไปที่ฟังก์ชั่นได้อย่างไร แทนที่จะมีค่าชนิดแบบ `String` หรือ `Int`, `onTouchMoved` นั้นจะมีค่าชนิด *function* แทน ซึ่งสามารถถูกตั้งค่าไปยังฟังก์ชั่นใดก็ได้ที่มีพารามิเตอร์ `Touch` เดี่ยว เช่น `addAlien(touch:)` หรือ `addMonster(touch:)`

[**หน้าถัดไป**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
