<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
如果 `touch.previousPlaceDistance` 小于特定值，则 `addImage(touch:)` 函数不执行任何操作并返回。将这个值改为 80：这会加大 ⭐️ 图形之间的距离。
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 明白了吗？

如果使用更大的值，你的触碰移动范围必须更大，直至 `touch.previousPlaceDistance` 达到这个值，同时星星会被放置在更远的距离。尝试使用几种不同的值吧。

[**下一页**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
