<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**Denk daran:** Der vollständige Name einer Funktion enthält die dazugehörigen Parameter, die durch Doppelpunkte voneinander getrennt sind (`:`). Der vollständige Funktionsname von `addAlien` lautet `addAlien(touch:)`.
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Gut gemacht!

 Vielleicht fragst du dich, wie eine Eigenschaft wie `onTouchMoved` für eine Funktion festgelegt werden kann. Nun, das ist möglich, weil `onTouchMoved` nicht `String` oder `Int`, sondern *function* als Typ verwendet. Auf diese Weise kann jede Funktion eingestellt werden, die einen einzelnen `Touch`-Parameter wie beispielsweise `addAlien(touch:)` oder `addMonster(touch:)` hat.

[**Nächste Seite**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
