<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Puedes elegir una imagen de fondo de las imágenes disponibles o de tu fototeca. ¡Incluso puedes usar la cámara para tomar una foto de fondo!
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### ¡Qué escenario tan hermoso!

Si eliges una imagen que tenga partes transparentes, se podrá ver el color de fondo a través de ellas. Si el fondo no tiene color, se verá un patrón de cuadros. Para establecer el color de fondo, haz lo siguiente:
 
`scene.backgroundColor = ◼️`

[**Siguiente página**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
