<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
触碰用于创建图形的图像，并选取另一个图像。尝试一下青蛙或外星人，甚至是友好的怪兽 👾。
	</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 你是 🌟 吗？

尝试仅触碰一次场景中的不同地方，而不是触碰并拖移。请注意，每次触碰场景时，都会添加一个新图形。这是因为单次触碰仅会产生一个触碰事件，并且只调用一次 `addImage(touch:)`。

[**下一页**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
