<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Raak de afbeelding die is gebruikt aan om het plaatje aan te maken en kies een andere afbeelding. Probeer de kikker, een alien of zelfs een vriendelijk monster 👾.
	</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Je bent een 🌟?

In plaats van aan te raken en te slepen kun je het tafereel op meerdere plaatsen slechts één keer aanraken. Zoals je ziet, wordt er steeds wanneer je het tafereel aanraakt een nieuw plaatje toegevoegd. Dit is omdat elke aanraking een enkel aanraakevent veroorzaakt en `addImage(touch:)` slechts eenmaal wordt aangeroepen.

[**Volgende pagina**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
