<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
ในการเคลื่อนย้ายกราฟิก ให้เลือกเครื่องมือ**เคลื่อนย้าย** จากนั้นแตะกราฟิกใดก็ได้แล้วลากกราฟิกนั้นไปรอบๆ ฉากเพื่อเคลื่อนย้าย
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
ในการเอากราฟิกออก ให้เลือกเครื่องมือ**ลบ** และแตะที่กราฟิก
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
นี่คือหน้าเพจ **ทดสอบ** และไม่มีวิธีแก้ไขปัญหาเตรียมไว้ให้ คุณมีอิสระในการเล่นให้สนุกไปกับการทดลองและได้มาซึ่งวิธีแก้ปัญหาของคุณเอง
		</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
