<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Bir ad ve emoji simgesi vererek bir `Tool` örneği yarat.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Aracın `onTouchMoved` özelliğini “dokunma taşındı” olay işleyici fonksiyonunun tam adına ayarla.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Aracın `onGraphicTouched` özelliğini “grafiğe dokunuldu” olay işleyici fonksiyonunun tam adına ayarla.
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Mükemmel çalışma!

Şu araç özelliklerini **anımsa**:

* `onTouchMoved`: Bir `Touch` parametresi ile “dokunma taşındı” olay işleyici fonksiyonunu alır.

* `onGraphicTouched`: Bir `Graphic` parametresi ile “grafiğe dokunuldu” olay işleyici fonksiyonunu alır.

[**Sonraki sayfada**](@next), dokunduğunda grafikleri nasıl değiştireceğini öğreneceksin.
	</string>
		</dict>
	</dict>
</dict>
</plist>
