<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`bradleyHand`, `markerfelt` veya `zapfino` gibi diğer fontları dene.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Her bir alıntıyı istediğin yere yerleştirmek için `Point`’in `x` ve `y` koordinatlarını kullan.		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`Graphic`’in `rotation` özelliğini şöyle kullanırsın: `graphic1.rotation = 30`.
		</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
