<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
ถ้าคุณมีปัญหาในการแตะ UFF ให้เพิ่มระยะโคจรใน `addFructoid` เพื่อที่จะได้เคลื่อนที่ช้าลงกว่าเดิม
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
เมื่อค่า `scale` ของกราฟิกที่ถูกแตะอยู่ต่ำกว่าระดับที่กำหนดไว้ (เช่น 0.6) ให้ทำลายกราฟิกนั้นโดยใช้ `graphic.moveAndZap(to: blackHole.position)`.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`// เพิ่มโค้ดที่นี่`\
`graphic.scale -= 0.5`\
`graphic.alpha -= 0.25`\
`if graphic.scale &lt; 0.6 {`\
`   graphic.moveAndZap(to: blackHole.position)`\
`}`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### ดูเหมือนว่าคุณจะได้รับตราบี้ UFF ของคุณแล้วนะ!

**ด่าน:** ลองทำให้ผลไม้บางลูกถูกทำลายได้ยากขึ้น กราฟิกผลไม้ถูกสร้างถูกสร้างด้วยอิโมจิ ดังนั้นคุณสามารถเปรียบเทียบคุณสมบัติ `text` แบบนี้ได้: `if graphic.text == "🍏"`ถ้าคุณลดค่า `scale` และ `alpha` ลง คุณจะต้องแตะผลไม้มากกว่าเดิมเพื่อทำให้มันหายไป

ใน [**หน้าถัดไป**](@next) คุณจะได้เรีนยรู้วิธีการใช้ปุ่มเพียงปุ่มเดียวเพื่อบี้ UFF ทุกอันในเวลาเดียวกัน!
	</string>
		</dict>
	</dict>
</dict>
</plist>
