<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
將圖形放置在圍繞中心的軌道上：\
`graphic.orbit(x: x, y: y, period: period)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
嘗試將 `period` 更改為從 0.5 到 4.0 的隨機 `Double`。
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 太棒了！你已經掌握了星球運動的技巧！

**請記住：** `Double` 是用於任何非完整數字的數字值。

[**下一頁**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
