<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Pon el gráfico en una órbita alrededor del centro:\
`graphic.orbit(x: x, y: y, period: period)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Prueba a cambiar `period` a un valor de `Double` aleatorio entre 0,5 y 4,0.
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### ¡Genial! ¡Ya dominas el arte del movimiento planetario!

**Recuerda:** El tipo `Double` —Doble— se usa para cualquier valor numérico que no sea un número entero.

[**Página siguiente**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
