<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Erstelle eine Instanz von `Graphic` mithilfe von `Graphic(image: image)`.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Bewege die `position` für die nächste Grafik hoch und nach rechts:\
`position.x += 75`\
`position.y += 75`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`// Grafik mit Bild erstellen.`\
`let graphic = Graphic(image: image)`\
`// Grafik in Szene platzieren.`\
`scene.place(graphic, at: position)`\
`// Position für nächste Grafik festlegen.`\
`position.x += 75`\
`position.y += 75`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Du bist ein phänomenaler Planetenplatzierer!

**Herausforderung:** Kannst du den Code so ändern, dass die Planetenreihen sich in einem anderen Quadranten befinden, z. B. oben links?

[**Nächste Seite**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
