<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Crea una instancia de `Graphic` mediante `Graphic(image: image)`.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Mueve `position` —posición— arriba y a la derecha para el siguiente gráfico:\
`position.x += 75`\
`position.y += 75`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`// Crea un gráfico con imagen.`\
`let graphic = Graphic(image: image)`\
`// Coloca el gráfico en la escena.`\
`scene.place(graphic, at: position)`\
`// Establece la posición para el gráfico siguiente.`\
`position.x += 75`\
`position.y += 75`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### ¡Eres un hacha colocando planetas!

**Reto:** ¿Puedes cambiar el código para colocar la fila de planetas en otro cuadrante, como el de arriba a la izquierda?

[**Página siguiente**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
