<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Se estiver com problemas para tocar nas FVNIs, aumente seus períodos de órbita em `addFructoid` para que elas se movam mais devagar.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Quando o valor de `scale` dos gráficos tocados estiverem abaixo de um certo nível (como 0.6), use `graphic.moveAndZap(to: blackHolePosition)` para destruir o gráfico.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`// Adicione código aqui.`\
`graphic.scale -= 0.5`\
`graphic.alpha -= 0.25`\
`if graphic.scale &lt; 0.6 {`\
`   graphic.moveAndZap(to: blackHole.position)`\
`}`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Parece que você ganhou a medalha de Espremedor de FVNIs!

**Desafio:** tente fazer com que algumas frutas sejam mais difíceis de destruir. Como um gráfico de fruta é criado com um emoji, você pode comparar sua propriedade de `text` assim: `if graphic.text == "🍏"`. Se você reduzir os valores de `scale` e `alpha`, mais toques serão necessários para destruir a fruta.

Na [**página seguinte**](@next), você aprenderá a usar um único botão para espremer todas as FVNIs ao mesmo tempo!
	</string>
		</dict>
	</dict>
</dict>
</plist>
