<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
為特殊類型的水果寫像下列的程式碼：\
`if graphic.text == "🍐"{`\
`   // 執行某項操作。`\
`}`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`if graphic.text == "🍐" {`\
`   playSound(.pop)`\
`}`\
`if graphic.text == "🍊" {`\
`   playSound(.tennis)`\
`}`\
`if graphic.text == "🍋" {`\
`   playSound(.snare)`\
`}`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 恭喜！

何不試試不同組的表情符號（試用動物看看？）和不同的聲音呢？！

[**下一頁**](@next)
  	</string>
		</dict>
	</dict>
</dict>
</plist>
