<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array/>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`for graphic in graphics {`\
`   squishGraphic(graphic: graphic)`\
`}`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Bom trabalho!

A cena pode ter um único botão que pode ser nomeado; você pode programar a sua própria função de controlador de eventos do tipo “pressionar botão” para ele. Com esse botão, você pode fazer várias coisas úteis!

[**Página Seguinte**](@next)
  	</string>
		</dict>
	</dict>
</dict>
</plist>
