<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**請記住：** 函數的完整名稱包含其參數名稱，並以分號 (`:`) 分隔。`addAlien` 的完整函數名稱為 `addAlien(touch:)`。
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 做得好！

 你可能想知道如何為函數設定像是 `onTouchMoved` 的屬性。`onTouchMoved` 具有*函數*類型，而不是類似於 `String` 或 `Int` 的類型。它可以設定到任何包含單一 `Touch` 參數的函數，如 `addAlien(touch:)` 或 `addMonster(touch:)`

[**下一頁**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
