<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Skapa en `Tool`-instans och ge den ett namn och en emoji.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Ange verktygets `onTouchMoved`-egenskap som det fullständiga namnet på en ”rörelse flyttades”-händelsehanterarfunktion.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Ange verktygets `onGraphicTouched`-egenskap som det fullständiga namnet på en ”grafik rördes”-händelsehanterarfunktion.
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Bra jobbat!

**Kom ihåg** de här verktygsegenskaperna:

* `onTouchMoved`: Tar en ”rörelse flyttades”-händelsehanterarfunktion med en `Touch`-parameter.

* `onGraphicTouched`: Tar en ”grafik rörd”-händelsehanterarfunktion med en `Graphic`-parameter.

På [**nästa sida**](@next) får du veta hur du ändrar grafik när du rör den.
	</string>
		</dict>
	</dict>
</dict>
</plist>
