<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Maak een `Tool`-instantie aan en geef deze een naam en een emojisymbool.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Stel de eigenschap `onTouchMoved` in op de volledige naam van een “touch moved”-eventhandlerfunctie.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Stel de eigenschap `onGraphicTouched` in op de volledige naam van een “graphic touched”-eventhandlerfunctie.
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Fantastisch!

**Onthoud** deze tooleigenschappen:

* `onTouchMoved`: gebruikt een “touch moved”-eventhandlerfunctie met een `Touch`-parameter.

* `onGraphicTouched`: gebruikt een “graphic touched”-eventhandlerfunctie met een `Graphic`-parameter.

Op de [**volgende pagina**](@next) leer je hoe je plaatjes wijzigt wanneer je ze aanraakt.
	</string>
		</dict>
	</dict>
</dict>
</plist>
