<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Gebruik `things[index]` en `colors[index]` om het ruimteding en de kleur op te halen.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`let graphic = Graphic(text: things[index])`\
\
`graphic.textColor = colors[index]`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Goed gedaan!

Je kunt de tool **Tekst** gebruiken om tekst toe te voegen, net zoals je de tool **Afbeelding** gebruikt om afbeeldingen toe te voegen. Beide tools voegen `Graphic`-instanties toe aan het tafereel als je je aanraking beweegt.

[**Volgende pagina**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
