<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Toque na imagem usada para criar o gráfico e escolha uma imagem diferente. Experimente o sapo, um alienígena ou até mesmo um monstro simpático 👾.
	</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Você é uma 🌟?

Em vez de arrastar o toque, experimente tocar na cena apenas uma vez em lugares diferentes. Note que um novo gráfico é adicionado a cada vez que você toca na cena. Isso ocorre porque um toque único causa somente um evento de toque e `addImage(touch:)` é chamado apenas uma vez.

[**Página Seguinte**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
