<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Coloque o gráfico em órbita ao redor do centro:\
`graphic.orbit(x: x, y: y, period: period)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Experimente alterar `period` para um `Double` aleatório entre 0.5 e 4.0.
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Incrível! Você está craque na arte de movimento planetário!

**Lembre-se:** O tipo `Double` é usado para qualquer valor de número que não seja um número inteiro.

[**Página Seguinte**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
