<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Posiziona l’elemento grafico in un’orbita attorno al centro:\
`graphic.orbit(x: x, y: y, period: period)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Prova a cambiare `period` con un `Double` casuale da 0.5 a 4.0.
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Meraviglioso! L’arte del moto planetario non ha più segreti per te!

**Ricorda:** il tipo `Double` è usato per qualsiasi valore numerico che non sia un numero intero.

[**Pagina successiva**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
