<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
觸碰用來製作圖形的影像，並選取另一個影像。試看看青蛙或外星人，甚至是友善的怪獸 👾。
	</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### 你是 🌟 嗎？

試著碰一下場景中的不同位置，而不是觸碰並拖移手指。請注意，每次你觸碰場景時都會加入新圖形。這是因為單次觸碰只會產生一個觸碰事件，並且只呼叫一次 `addImage(touch:)`。

[**下一頁**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
