<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
若要移動圖形，請選擇**移動**工具。然後在場景中觸碰並拖移任一個圖形來移動圖形。
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
若要移除圖形，請選擇**清除**工具並且觸碰圖形。
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
這是一個**試驗**頁面，未提供解決方法。你可以自由地進行試驗，找出自己的解決方法。
		</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
