<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Grafiği yaratmak için kullanılan görüntüye dokun ve farklı bir görüntü seç. Kurbağa, uzaylı ve hatta dost canlısı bir canavar 👾 bile deneyebilirsin.
	</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Sen bir 🌟 mısın?

Dokunmak ve sürüklemek yerine, sahneye farklı yerlerde yalnızca bir kez dokunmayı dene. Sahneye her dokunduğunda yeni bir grafiğin eklendiğini fark edeceksin. Bunun nedeni, tek bir dokunmanın yalnızca bir dokunma olayına neden olması ve `addImage(touch:)`’ın yalnızca bir kez çağrılmasıdır.

[**Sonraki Sayfa**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
