<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
สร้างชื่อแทนประเภท `Graphic` โดยใช้ `Graphic(image: image)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
ย้าย `position` ขึ้นและไปทางขวาสำหรับกราฟิกต่อมา:\
`position.x += 75`\
`position.y += 75`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`// สร้างกราฟิกด้วยภาพ`\
`let graphic = Graphic(image: image)`\
`// วางกราฟิกบนฉาก`\
`scene.place(graphic, at: position)`\
`// ตั้งค่าตำแหน่งสำหรับกราฟิกถัดไป`\
`position.x += 75`\
`position.y += 75`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### คุณคือนักวางกลุ่มดาวตัวยง!

**ด่าน:** คุณสามารถเปลี่ยนโค้ดเพื่อนำกลุ่มดาวไปไว้ในเขตอื่นได้ไหม ลองเอาไว้ที่ด้านซ้ายบนดูไหม

[**หน้าถัดไป**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
