<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
ใช้เครื่องมือ**เคลื่อนย้าย** เพื่อเคลื่อนย้ายกราฟิกเครื่องดนตรีให้อยู่ใกล้จุดศูนย์กลางมากขึ้น (สำหรับระดับเสียงสูงต่ำที่สูง) หรือให้ไกลออกไป (สำหรับระดับเสียงสูงต่ำที่ต่ำ)
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
เครื่องดนตรีสามเครื่องจะถูกมอบให้กับคุณ แต่คุณสามารถเปลี่ยนออกหรือเพิ่มเครื่องอีกได้ ให้เลื่อนลงไปที่ `// เพิ่มเครื่องมือเครื่องดนตรี` ในโค้ด
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
ลองแตะแล้วลากให้ทั่วกราฟิกเครื่องดนตรี
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
อย่าจำกัดตัวเองไปกับเครื่องดนตรี คุณสามารถเพิ่มเครื่องเล่นเพื่อเพิ่มเสียงหรือข้อความพูดได้
		</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
