<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
ตั้งค่า `index` ให้ชี้ไปยังไปยังรายการในอาร์เรย์แบบสุ่ม:\
`let index = randomInt(from: 0, to: animals.count - 1)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`rotation` สามารถมีค่า `Double` เท่าไหร่ก็ได้ตั้งแต่ `0` ถึง `360`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`// ตั้งค่าดัชนีเป็นค่าแบบสุ่ม`\
`let index = randomInt(from: 0, to: animals.count - 1)`\
\
`// ปรับขนาดและหมุนกราฟิก`\
`graphic.scale = randomDouble(from: 0.5, to: 2.0)`\
`graphic.rotation = randomDouble(from: 0.0, to: 360.0)`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### เยี่ยมมาก!

ทำการทดลองโดยการสร้างอาร์เรย์ภาพของคุณเอง และใช้`scale` และ `rotation`

[**หน้าถัดไป**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
