<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**Kom ihåg:** Det fullständiga namnet för en funktion innehåller dess parameternamn separerade med kolon (`:`). Det fullständiga funktionsnamnet för `addAlien` är `addAlien(touch:)`.
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Bra gjort!

 Du kanske undrar hur du kan använda en egenskap som `onTouchMoved` för en funktion. Istället för att ha en typ som `String` eller `Int` så har `onTouchMoved` en *funktionstyp*. Den kan användas med valfri funktion som har en enda `Touch`-parameter, som `addAlien(touch:)` eller `addMonster(touch:)`.

[**Nästa sida**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
