<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**Unutma:** Fonksiyonun tam adında, iki noktayla (`:`) ayrılmış parametre adları bulunur. `addAlien` için tam fonksiyon adı, `addAlien(touch:)` olarak yazılır.
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### İyi iş çıkardın!

 Bir fonksiyona `onTouchMoved` gibi bir özelliği nasıl ayarlayabileceğini merak ediyor olabilirsin. Şöyle ki; `String` veya `Int` gibi bir tipe sahip olmanın yerine, `onTouchMoved` bir *fonksiyon* tipine sahiptir. `addAlien(touch:)` veya `addMonster(touch:)` gibi tek bir `Touch` parametresi olan herhangi bir fonksiyona ayarlanabilir.

[**Sonraki Sayfa**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
