<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Use `Graphic(image: image)` para criar uma instância de `Graphic`.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Mova `position` para cima e à direita no próximo gráfico:\
`position.x += 75`\
`position.y += 75`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`// Crie um gráfico com imagem.`\
`let graphic = Graphic(image: image)`\
`// Coloque um gráfico na cena.`\
`scene.place(graphic, at: position)`\
`// Defina a posição do gráfico seguinte.`\
`position.x += 75`\
`position.y += 75`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Você é uma estrela em posicionar planetas!

**Desafio:** será que você consegue alterar o código para colocar a linha de planetas em um quadrante diferente (talvez no superior esquerdo)?

[**Página Seguinte**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
