<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Använd `things[index]` och `colors[index]` till att skaffa rymdsaken och färgen.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`let graphic = Graphic(text: things[index])`\
\
`graphic.textColor = colors[index]`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Bra gjort!

Du kan använda verktyget **Text** till att placera in text, precis som du använder verktyget **Bild** till att placera in bilder. Båda verktygen placerar instanser av `Graphic` i scenariot när din rörelse flyttas.

[**Nästa sida**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
