<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Bir sonraki konumu al ve `pointIndex` değerini artır:\
`let position = points[pointIndex]`\
`pointIndex += 1`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`pointIndex`’i dizi sınırları içinde kalması için sıfırla:\
`if pointIndex == points.count {`\
`   pointIndex = 0`\
`}`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`// Konum al.`\
`let position = points[pointIndex]`\
`// Increment pointIndex.`\
`pointIndex += 1`\
`if pointIndex == points.count {`\
`   pointIndex = 0`\
`}`\
`// Grafiği konuma taşı.`\
`graphic.move(to: position, duration: 1.0)`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Tebrikler!

Farklı örüntüler elde etmek için farklı noktalar, fonksiyonlar ve parametreler ile denemeler yap.

**Meydan Okuma:** Bir örüntü fonksiyonu tarafından döndürülen noktalar, sahnenin orta kısmına yerleştirilir. Her noktaya bir x, y ofseti ekleyerek örüntüyü istediğin yere yerleştirebilirsin. Birkaç örüntüyü sahnenin farklı yerlerine yerleştirip yerleştiremeyeceğine bir bak.

[**Sonraki Sayfa**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
