<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Use os vetores `things[index]` e `colors[index]` para obter o item espacial e a cor.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
`let graphic = Graphic(text: things[index])`\
\
`graphic.textColor = colors[index]`
			</string>
		</dict>
	</dict>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Bom trabalho!

Você pode usar a ferramenta **Texto** para colocar texto, da mesma forma que você usa a ferramenta **Imagem** para colocar imagens. Ambas as ferramentas colocam instâncias de `Graphic` na cena conforme você move o toque.

[**Página Seguinte**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
