<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Crie uma ferramenta e dê um nome e um ícone de emoji a ela. Exemplo:\
`let fruitTool = Tool(name: "Fruit", emojiIcon: "🍒")`\
ou:\
`let greetingTool = Tool(name: "Greeting", emojiIcon: "🙏")`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Defina a propriedade `onTouchMoved` da ferramenta como o nome completo de uma das funções do controlador de eventos. Exemplo:\
`fruitTool.onTouchMoved = addFruit(touch:)`\
ou:\
`greetingTool.onTouchMoved = addGreeting(touch:)`
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Finalmente, adicione a ferramenta à cena. Exemplo:\
`scene.tools.append(fruitTool)`\
ou:\
`scene.tools.append(greetingTool)`
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Parabéns!

**Desafio:** tente escrever a sua própria função `onTouchMoved` e adicionar uma nova ferramenta para chamá-la.

[**Página Seguinte**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
