<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Funktionen `addImage(touch:)` returnerar utan att göra något om `touch.previousPlaceDistance` är under ett visst värde. Ändra det här värdet till 80: Det här sprider ut grafikfilerna ⭐️.
		</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Förstått?

Om du använder ett större värde måste rörelsen flytta längre innan `touch.previousPlaceDistance` når det värdet, och stjärnorna placeras längre från varandra. Prova några olika värden.

[**Nästa sida**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
