<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Para mover un gráfico, selecciona la herramienta **Mover**, toca cualquier gráfico y arrástralo por la escena para moverlo.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Para eliminar un gráfico, selecciona la herramienta **Borrar** y toca el gráfico.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Esta es una página para **Experimentar** y no incluye ninguna solución. Ponte a experimentar y encuentra tus propias soluciones.
		</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
